*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background: #ABD9FF;
    position: fixed;
    width: 100%;
    z-index: 9999;
    height: 65px;
    line-height: 65px;
}
nav .wrapper{
    position: relative;
    max-width: 1250px;
    padding:0 30px ;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wrapper .logo a{
    color: #fff;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size:30px;
    font-weight: 600;
}
.wrapper .nav-links{
    display: inline-flex;
}

.nav-links li{
    list-style: none;
}

.nav-links li a{
    color:#fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 15px;
    background: #ABD9FF;
    border-radius: 5px;
   transition: all 0.3s ease;
}

.nav-links li a:hover{
    background: #FFEBAD;
}



.nav-links .drop-menu{
    background: #ABD9FF;
    width: 180px;
    top: 85px;
    line-height: 45px;
    position: absolute;
    opacity: 0;
    visibility: hidden;

}
.nav-links  li:hover .drop-menu,
.nav-links  li:hover .mega-box{
    top: 65px;
    opacity: 1;
    visibility: visible;
    /*transition: all 0.3s ease;*/
}
.drop-menu li a{
    width: 100%;
    display: block;
    padding: 0 0 0 15px;
    font-weight: 400;
    border-radius: 0px;
}

/* mega menu---------------
---*/

.mega-box{
   position: absolute;
   top: 85px;
   width: 100%;
   left: 0;
   padding: 0 30px;
   opacity: 0;
   visibility: hidden;
   /*transition: all 0.3s ease;*/
}
.mega-box .content{
    background: #ABD9FF;
    padding: 25px 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.content .row{
    width: calc(25% - 30px);
    line-height: 45px;
}
.content .row img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content .row header{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}
.content .row .mega-links{
    margin-left: -40px;
    border-left: 1px solid #fff;
}
.content .row:nth-child(1),
.content .row:nth-child(2){
    border-left: 0px;
}  

.row .mega-links li{
    padding: 0 20px;
}

.row .mega-links a{
    padding: 0 20px;
    color: #fff;
    font-size: 17px;
    display: block;
}

.row .mega-links li a:hover{
    color:#fff
}

.nav-links .mobole-item{
    display: none;
}
.wrapper .btn{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.btn .cancel-btn{
    position: absolute;
    right: 30px;
    top: 10px;
}

@media screen and (max-width: 970px){
    .wrapper .btn{
        display: block;
    }
    .wrapper .nav-links{
       position: fixed;
       height: 100vh;
       width: 100%;
       max-width: 350px;
       background: #ABD9FF;
       display: block;
       top: 0;
       left:-100%;
       line-height: 50px;
       padding: 50px 10px;
       box-shadow: 0 15px 15px #FFEBAD;
       transition: all 0.3s ease;
    }
    #menu-btn:checked ~ .nav-links{
        left:0;
    }
    #menu-btn:checked ~ .btn.menu-btn{
        display: none;
    }
    .nav-links::-webkit-scrollbar{
        width: 0px;
    }
    .nav-links li{
        margin: 15px 10px;
    }
    .nav-links li a{
        padding: 0 20px;
        display: block;
        font-size: 20px;
    }
    .nav-links .drop-menu{
        position: static;
        opacity: 1;
        visibility: visible;
        top: 65px;
        padding-left: 20px;
        width: 100%;
        max-height: 0px;
        overflow: hidden;
        transition: all 0.3s ease;
    }
    #showDrop:checked ~ .drop-menu,
    #showMega:checked ~ .mega-box{
        max-height: 100%
    }

    .nav-links .drop-menu li{
        margin: 0;
    }
    .nav-links .drop-menu li a{
        font-size: 18px;
        border-radius: 5px;
    }
    .nav-links .desktop-item{
        display: none;
    }
    .nav-links .mobole-item{
        display: block;
        font-size: 20px;
        color: #fff;
        font-weight: 500;
        padding-left: 20px;
        cursor: pointer;
        border-radius:5px;
        transition: all 0.3s ease;
    }
    .nav-links .mobole-item:hover{
        background: #FFEBAD;
    }
    .mega-box{
        position: static;
        top: 85px;
        width: 100%;
        opacity: 1;
        visibility: visible;
        padding: 0 20px;
        max-height: 0px;
        overflow: hidden;
        transition: all 0.3s ease;
     }
     .mega-box .content{
         background: #ABD9FF;
        flex-direction: column;
        padding: 20px 20px 0 20px;
     }
     .mega-box .content .row{
        width: 100%;
        margin-bottom: 15px;
        border-top: 1px solid #fff;
     }
     .mega-box .content .row:nth-child(1),
     .mega-box .content .row:nth-child(2){
        border-top: 0px;
     }
     .content .row .mega-links{
        border-left: 0px;
        padding-left: 15px; 
     }
     .row .mega-links li{
        margin: 0;
     }
     .content .row header{
        font-size: 19px;
     }
    
}
.wrapper input{
    display: none;
}